<a href="https://colab.research.google.com/github/JKunal11/Task--01/blob/main/problem%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

step 1:import library

In [1]:
import pandas as pd

step 2:import data

In [3]:
salary=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Salary%20Data.csv')

In [4]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [5]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [6]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

step 3:define y and x

In [7]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [8]:
y=salary['Salary']

In [9]:
x=salary[['Experience Years']]

In [10]:
y.shape

(40,)

In [11]:
x.shape

(40, 1)

sklearn library

In [12]:
from sklearn.model_selection import train_test_split

step 4:train test split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [14]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((30, 1), (10, 1), (30,), (10,))

step 5:select mmodel

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model=LinearRegression()

step 6:train or fit model

In [17]:
model.fit(x_train,y_train)

LinearRegression()

step 7:predict model

In [18]:
y_pred=model.predict(x_test)

2.Predict the chances of admission of a student to a University from Graduate program based on different parameters such as:
GRE Scores (290 to 340) 
TOEFL Scores (92 to 120) 
University Rating (1 to 5) 
Statement of Purpose (1 to 5) 
Letter of Recommendation Strength (1 to 5) 
Undergraduate CGPA (6.8 to 9.92) 
Research Experience (0 or 1) 
Chance of Admit (0.34 to 0.97)

In [19]:
import pandas as pd

In [21]:
student=pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')

In [22]:
student.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [23]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [24]:
student.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [25]:
student.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [27]:
y=student['Chance of Admit ']

In [28]:
x=student[['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research']]

In [29]:
y.shape

(400,)

In [30]:
x.shape

(400, 8)

In [31]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test= train_test_split(x,y)

In [36]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((300, 8), (100, 8), (300,), (100,))

In [37]:
from sklearn.linear_model import LinearRegression

In [39]:
model=LinearRegression()

In [40]:
model.fit(x_train,y_train)

LinearRegression()

In [41]:
y_pred=model.predict(x_test)